.books-background {
  background: url("/images/tx-cover-2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.book-image {
  height: 300px;
}


.less-margin {
  margin-top: -0.6em !important;
}


/* Profile styles*/
.profile-top-row {
  background-color: #303030;
  margin: 4px;
  padding: 30px !important;
  border-radius: 5px;
}

.profile-bottom-row {
  background-color: #303030;
  margin: 4px;
  padding: 30px;
  border-radius: 5px;
}

.profile-info {
  margin: 20px;
  color: white;
}

.profile-pic {
  height: 18px;
  margin: 0 0 0 0 !important;
}

.profile-picture {
  width: 210px;
  height: 210px;
  border-radius: 50%;
}

.profile-container {
  padding: 40px;
}

.profile-list {
  color: white;
}
