body {
  font-size: 16px !important;
  line-height: 1.375em;
}

h1 {
  font-size: 3em;
  line-height: 1.05em;
}

.books-background {
  background: url("/images/tx-cover-2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.book-image {
  height: 300px;
}


.less-margin {
  margin-top: -0.6em !important;
}


/* Profile styles*/
.profile-top-row {
  background-color: #f5fcf5;
  margin: 4px 4px 20px 4px;
  padding: 30px !important;
  border-radius: 5px;
  box-shadow: 10px 10px #454545;
}

.content {
  color: black !important;
}


.profile-bottom-row {
  background-color: #f5fcf5;
  margin: 4px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 10px 10px #454545;
}

.profile-info {
  margin: 20px;
}

.profile-pic {
  height: 18px;
  margin: 0 0 0 0 !important;
}

.profile-picture {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-container {
  padding: 40px;
}

.bottom-container {
  padding: 15px;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 130%;
  padding-top: 5px;
}

.browse {
  padding-bottom: 50px;
}

.landing-header {
  margin-top: 0px !important;
  margin-bottom: 1em !important;
}

.searchBar {
  margin-left: 40px;
  margin-right: 40px;
}
